Repository lgcmotta/GQS2025-1-A3-conways-game-of-life, pull requests merged in 2025-05, with the labels that each got.

#12 chore: update SDK version to net 9
  .github/workflows/sonar_pull_request.yml
  .github/workflows/sonar_push.yml
  ConwaysGameOfLife.sln
  Directory.Build.props
  Directory.Packages.props
  README.md
  global.json
  src/Conways.GameOfLife.API/Conways.GameOfLife.API.csproj
  src/Conways.GameOfLife.API/Dockerfile
  src/Conways.GameOfLife.Domain/Conways.GameOfLife.Domain.csproj
  src/Conways.GameOfLife.Infrastructure.PostgreSQL/Conways.GameOfLife.Infrastructure.PostgreSQL.csproj
  src/Conways.GameOfLife.Infrastructure/Conways.GameOfLife.Infrastructure.csproj
  tests/Conways.GameOfLife.Domain.UnitTests/Conways.GameOfLife.Domain.UnitTests.csproj
  tests/Conways.GameOfLife.IntegrationTests/Conways.GameOfLife.IntegrationTests.csproj
Labels: enhancement, request-review

#14 Feat/openapi scalar UI
  Directory.Packages.props
  src/Conways.GameOfLife.API/Conways.GameOfLife.API.csproj
  src/Conways.GameOfLife.API/Program.cs
  src/Conways.GameOfLife.API/Properties/launchSettings.json
  src/Conways.GameOfLife.API/appsettings.Development.json
Labels: request-review, refactor

#13 chore: bump xUnit to v3 and use MTP
  .editorconfig
  .github/workflows/sonar_pull_request.yml
  .github/workflows/sonar_push.yml
  Directory.Build.props
  Directory.Packages.props
  src/Conways.GameOfLife.API/Conways.GameOfLife.API.csproj
  src/Conways.GameOfLife.Domain/Conways.GameOfLife.Domain.csproj
  src/Conways.GameOfLife.Infrastructure.PostgreSQL/Conways.GameOfLife.Infrastructure.PostgreSQL.csproj
  src/Conways.GameOfLife.Infrastructure/Conways.GameOfLife.Infrastructure.csproj
  tests/Conways.GameOfLife.Domain.UnitTests/Conways.GameOfLife.Domain.UnitTests.csproj
  tests/Conways.GameOfLife.IntegrationTests/Conways.GameOfLife.IntegrationTests.csproj
  tests/Conways.GameOfLife.IntegrationTests/Factories/ConwaysGameOfLifeWebApplicationFactory.cs
  tests/Conways.GameOfLife.IntegrationTests/Features/CreateBoard/CreateBoardTests.cs
  tests/Conways.GameOfLife.IntegrationTests/Features/FinalGeneration/FinalGenerationTests.cs
  tests/Conways.GameOfLife.IntegrationTests/Features/NextGeneration/NextGenerationTests.cs
  tests/Conways.GameOfLife.IntegrationTests/Features/NextGenerations/NextGenerationsTests.cs
  tests/Conways.GameOfLife.IntegrationTests/GlobalUsings.cs
  tests/Conways.GameOfLife.IntegrationTests/Postgre/BoardDbContextTests.cs
Labels: request-review, refactor

#16 feat: dotnet aspire support
  .editorconfig
  .github/workflows/sonar_pull_request.yml
  .github/workflows/sonar_push.yml
  ConwaysGameOfLife.sln
  Directory.Build.props
  Directory.Packages.props
  docker-compose.yml
  otel-collector-config.yml
  prometheus.yml
  src/Conways.GameOfLife.API/Conways.GameOfLife.API.csproj
  src/Conways.GameOfLife.API/Extensions/ServiceCollectionExtensions.cs
  src/Conways.GameOfLife.API/Features/CreateBoard/CreateBoardWebApplicationExtensions.cs
  src/Conways.GameOfLife.API/Features/FinalGeneration/FinalGenerationWebApplicationExtensions.cs
  src/Conways.GameOfLife.API/Features/NextGeneration/NextGenerationWebApplicationExtensions.cs
  src/Conways.GameOfLife.API/Features/NextGenerations/NextGenerationsWebApplicationExtensions.cs
  src/Conways.GameOfLife.API/Program.cs
  src/Conways.GameOfLife.API/Properties/launchSettings.json
  src/Conways.GameOfLife.API/appsettings.Development.json
  src/Conways.GameOfLife.AppHost/Conways.GameOfLife.AppHost.csproj
  src/Conways.GameOfLife.AppHost/Program.cs
  src/Conways.GameOfLife.AppHost/Properties/launchSettings.json
  src/Conways.GameOfLife.AppHost/appsettings.Development.json
  src/Conways.GameOfLife.AppHost/appsettings.json
  src/Conways.GameOfLife.Domain/Conways.GameOfLife.Domain.csproj
  src/Conways.GameOfLife.Infrastructure.PostgreSQL/BoardDbContext.cs
  src/Conways.GameOfLife.Infrastructure.PostgreSQL/BoardDesignTimeDbContextFactory.cs
  src/Conways.GameOfLife.Infrastructure.PostgreSQL/Conways.GameOfLife.Infrastructure.PostgreSQL.csproj
  src/Conways.GameOfLife.Infrastructure.PostgreSQL/Extensions/ServiceCollectionExtensions.cs
  src/Conways.GameOfLife.Infrastructure/Conways.GameOfLife.Infrastructure.csproj
  src/Conways.GameOfLife.Infrastructure/Extensions/OpenTelemetryExtensions.cs
  src/Conways.GameOfLife.ServiceDefaults/Conways.GameOfLife.ServiceDefaults.csproj
  src/Conways.GameOfLife.ServiceDefaults/Extensions.cs
  src/Conways.GameOfLife.ServiceDefaults/HealthChecks/HealthCheckEntry.cs
  src/Conways.GameOfLife.ServiceDefaults/HealthChecks/HealthCheckResponse.cs
  src/Conways.GameOfLife.ServiceDefaults/HealthChecks/Internal/ReadinessBackgroundService.cs
  src/Conways.GameOfLife.ServiceDefaults/HealthChecks/Internal/ReadinessHealthCheck.cs
  tests/Conways.GameOfLife.Domain.UnitTests/Conways.GameOfLife.Domain.UnitTests.csproj
  tests/Conways.GameOfLife.IntegrationTests/Conways.GameOfLife.IntegrationTests.csproj
  tests/Conways.GameOfLife.IntegrationTests/Factories/ConwaysGameOfLifeWebApplicationFactory.cs
  tests/Conways.GameOfLife.IntegrationTests/Features/FinalGeneration/FinalGenerationTests.cs
  tests/Conways.GameOfLife.IntegrationTests/Features/NextGeneration/NextGenerationTests.cs
  tests/Conways.GameOfLife.IntegrationTests/Features/NextGenerations/NextGenerationsTests.cs
Labels: enhancement, request-review

#15 fix: sonarcloud code smells
  .editorconfig
  .github/workflows/pull_request.yml
  .github/workflows/sonar_pull_request.yml
  .github/workflows/sonar_push.yml
  .vscode/launch.json
  ConwaysGameOfLife.sln
  Directory.Packages.props
  README.md
  global.json
  src/Conways.GameOfLife.API/Behaviors/LoggingBehavior.cs
  src/Conways.GameOfLife.API/Behaviors/ValidationBehavior.cs
  src/Conways.GameOfLife.API/Conways.GameOfLife.API.csproj
  src/Conways.GameOfLife.API/Diagnostics/ExceptionHandler.cs
  src/Conways.GameOfLife.API/Dockerfile
  src/Conways.GameOfLife.API/Features/CreateBoard/CreateBoardCommandHandler.cs
  src/Conways.GameOfLife.API/Features/CreateBoard/CreateBoardEndpoint.cs
  src/Conways.GameOfLife.API/Features/FinalGeneration/FinalGenerationEndpoint.cs
  src/Conways.GameOfLife.API/Features/FinalGeneration/FinalGenerationQueryHandler.cs
  src/Conways.GameOfLife.API/Features/NextGeneration/NextGenerationQueryHandler.cs
  src/Conways.GameOfLife.API/Features/NextGenerations/NextGenerationsQueryHandler.cs
  src/Conways.GameOfLife.API/Models/ErrorResponse.cs
  src/Conways.GameOfLife.AppHost/Conways.GameOfLife.AppHost.csproj
  src/Conways.GameOfLife.Domain/Board.cs
  src/Conways.GameOfLife.Domain/Core/ICommand.cs
  src/Conways.GameOfLife.Domain/Core/IEntity.cs
  src/Conways.GameOfLife.Domain/Core/IQuery.cs
  src/Conways.GameOfLife.Domain/Exceptions/BoardNotFoundException.cs
  src/Conways.GameOfLife.Domain/Exceptions/UnstableBoardException.cs
  src/Conways.GameOfLife.Domain/Generation.cs
  src/Conways.GameOfLife.Infrastructure.PostgreSQL/Configurations/BoardEntityTypeConfiguration.cs
  src/Conways.GameOfLife.Infrastructure.PostgreSQL/Configurations/GenerationEntityTypeConfiguration.cs
  src/Conways.GameOfLife.Infrastructure.PostgreSQL/Extensions/ServiceCollectionExtensions.cs
  src/Conways.GameOfLife.Infrastructure.PostgreSQL/Interceptors/DateTimeSaveChangesInterceptor.cs
  src/Conways.GameOfLife.Infrastructure/Extensions/MatrixExtensions.cs
  src/Conways.GameOfLife.Infrastructure/Extensions/ServiceCollectionExtensions.cs
  src/Conways.GameOfLife.ServiceDefaults/Conways.GameOfLife.ServiceDefaults.csproj
  src/Conways.GameOfLife.ServiceDefaults/Extensions.cs
  tests/Conways.GameOfLife.Domain.UnitTests/BoardTests.cs
  tests/Conways.GameOfLife.Domain.UnitTests/GenerationTests.cs
  tests/Conways.GameOfLife.IntegrationTests/Factories/ConwaysGameOfLifeWebApplicationFactory.cs
  tests/Conways.GameOfLife.IntegrationTests/Features/CreateBoard/CreateBoardTests.cs
  tests/Conways.GameOfLife.IntegrationTests/Features/FinalGeneration/FinalGenerationTests.cs
  tests/Conways.GameOfLife.IntegrationTests/Features/NextGeneration/NextGenerationTests.cs
  tests/Conways.GameOfLife.IntegrationTests/Features/NextGenerations/NextGenerationsTests.cs
  tests/Conways.GameOfLife.IntegrationTests/Postgre/BoardDbContextTests.cs
Labels: bug, request-review

#18 Refactor/use problem details
  src/Conways.GameOfLife.API/Behaviors/ValidationBehavior.cs
  src/Conways.GameOfLife.API/Diagnostics/ExceptionHandler.cs
  src/Conways.GameOfLife.API/Diagnostics/TracedProblemDetails.cs
  src/Conways.GameOfLife.API/Exceptions/ValidationFailedException.cs
  src/Conways.GameOfLife.API/Extensions/TracedProblemDetailsExtensions.cs
  src/Conways.GameOfLife.API/Properties/launchSettings.json
  tests/Conways.GameOfLife.IntegrationTests/Features/CreateBoard/CreateBoardTests.cs
  tests/Conways.GameOfLife.IntegrationTests/Features/FinalGeneration/FinalGenerationTests.cs
  tests/Conways.GameOfLife.IntegrationTests/Features/NextGeneration/NextGenerationTests.cs
  tests/Conways.GameOfLife.IntegrationTests/Features/NextGenerations/NextGenerationsTests.cs
  tests/Conways.GameOfLife.IntegrationTests/GlobalUsings.cs
  tests/Conways.GameOfLife.IntegrationTests/Postgre/BoardDbContextTests.cs
Labels: refactor
